<h1>All of your offers</h1>
<% counter = 1 %>
<ul>
  <% @bookings.each do |booking| %>
    <% if booking.user == current_user %>
      <li><div class="card-product">
        <img src="https://cdn.motor1.com/images/mgl/nxwbl/s1/dp-motorsport-porsche-911-964.jpg" />
        <div class="card-product-infos">
          <%= link_to "Booking Nr.#{counter}", "/cars/bookings/#{booking.id}" %>
          <h2>Car: <%= booking.car.name %></h2>
          <h2>User: <%= booking.user.email %></h2>
          <p>Date: <%= booking.start_date %> - <%= booking.end_date %></p>
        </div>
      </div>
      </li>
      <% counter += 1 %>
    <% end %>
  <% end %>

</ul>

<p class="btn btn-warning"><%= link_to "Book another car", cars_path %></p>
