<h1 id="title"><strong>All of your requested bookings</strong></h1>
<% counter = 1 %>
<ul>
  <% @bookings.each do |booking| %>
    <% if booking.user == current_user %>
      <li><div class="card-product">
        <%=cl_image_tag booking.car.photo.key, class:"card-img-top"%>
        <div class="card-product-infos">
          <%= link_to "Booking Nr.#{counter}", "/cars/bookings/#{booking.id}" %>
          <h2>Car: <%= booking.car.name %></h2>
          <h2>User: <%= booking.user.email %></h2>
          <p>Date: <%= booking.start_date %> - <%= booking.end_date %></p>
          <p>Status: <% if booking.confirmation == true %>
          Booking confirmed
          <% else %>
          Booking not confirmed yet
          <% end %>
        </div>
      </div>
      </li>
      <% counter += 1 %>
    <% end %>
  <% end %>

</ul>

<p class="btn btn-secondary" id="button"><%= link_to "Book another car", cars_path, style: "color: white; text-decoration: none;" %></p>
