<h1><strong>All of the requested bookings for your Cars</strong></h1>
<% counter = 1 %>
<ul>
  <% @bookings.each do |booking| %>
    <% if booking.car.user == current_user %>
      <li><div class="card-product">
        <%=cl_image_tag car.photo.key, class:"card-img-top"%>
        <div class="card-product-infos">
          <%= link_to "Booking Nr.#{counter}", "/cars/bookings/#{booking.id}" %>
          <h2>Car: <%= booking.car.name %></h2>
          <h2>User: <%= booking.user.email %></h2>
          <p>Date: <%= booking.start_date %> - <%= booking.end_date %></p>
        </div>
      </div>
      </li>
      <% counter += 1 %>
    <% else %>
    <% counter += 1 %>
    <h2><strong>None of your cars has been requested for a booking.</strong></h2>
    <% break if counter = 1 %>
    <% end %>
  <% end %>

</ul>
