<h1 id="title"><strong>New Booking</strong></h1>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Book a car!</h3>
        <%= simple_form_for [@car, @booking] do |f| %>
          <%= f.input :start_date, as: :date %>
          <%= f.input :end_date, as: :date %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
        </div>
    </div>
  </div>
</div>

<p class="btn btn-secondary" id="buttonnew"><%= link_to "Back to Bookings", cars_path, style: "color: white; text-decoration: none;"%></p>
