  <nav class="navbar-homepage">
    <a href="#" class="logo" >
      <%= image_tag 'final-logo-vintage-cars' %>
    </a>
    <ul class="nav-links">
      <li class="nav-item dropdown"><p class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Log in</p>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
          <%= link_to "Register", new_user_registration_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item"><%= link_to "List your car", new_car_path %></li>
    </ul>
  </nav>


