
<div class="container-fluid">
  <div class="cover mb-4 d-flex align-items-center justify-content-center">
    <div class="text-center">
    <h1><strong>All of your Cars</strong></h1>
    </div>
  </div>
  </div>
</div>
<p class="btn btn-secondary ml-4"><%= link_to "Book a car", cars_path, style:"color: white; text-decoration: none;" %></p>

<% counter = 1 %>
<ul>
  <% @cars.each do |car| %>
    <% if car.user == current_user %>
      <li><div class="card-product">
        <%=cl_image_tag car.photo.key, class:"card-img-top"%>
        <div class="card-product-infos">
          <%= link_to car_path(car) do %>
            <h2>Car: <%= car.name %></h2>
          <% end %>
            <h2>Model: <%= car.model %></h2>
            <h2>Description: <%= car.description %></h2>
        </div>
      </div>
      </li>
      <% counter += 1 %>
    <% end %>
  <% end %>
</ul>
