<h1>All of your Cars</h1>
<% counter = 1 %>
<ul>
  <% @cars.each do |car| %>
    <% if car.user == current_user %>
      <li><div class="card-product">
        <img src="https://cdn.motor1.com/images/mgl/nxwbl/s1/dp-motorsport-porsche-911-964.jpg" />
        <div class="card-product-infos">
          <%= link_to car_path(car) do %>
            <h2>Car: <%= car.name %></h2>
          <% end %>
            <h2>Model: <%= car.model %></h2>
             <h2>Description: <%= car.description %></h2>
        </div>
      </div>
      </li>
      <% counter += 1 %>
    <% end %>
  <% end %>
</ul>

<p class="btn btn-warning"><%= link_to "Book a car", cars_path %></p>
